{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

    <div class="navbar-fill">
        <div class="container">
            <a class="brand" href="/"><img src="http://rascalmicro.com/img/rm-logo-words-only-light.png"></a>
            <ul class="nav">
                <li class="active"><a href="http://store.rascalmicro.com">Store</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/docs/">Docs</a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
      function activateNavbar() { // From https://gist.github.com/1362111, but with the regex tweaked
        var path = location.pathname.replace (/^(\/.+?\/).+$/, '$1');
        $('ul.nav li').removeClass("active");
        $('ul.nav a[href="' + path + '"]').parent().addClass("active");
      }
      $(function(){
        activateNavbar();
      })
    </script>

<main class="content" role="main">
    <div class="center-column">
        <article class="{{post_class}}">
            {{#post}}
                <section class="post-content">
                    {{content}}
                </section>
            {{/post}}
        </article>
    </div>
</main>
