@rascal-red: #C6433C;
@rascal-red-light: @rascal-red + #222;
@rascal-red-extra-light: @rascal-red + #444;
@rascal-red-super-light: #FFC7C0;
@rascal-dark: @rascal-red - #222;
@rascal-gray: #414243;
@rascal-white: #E7E8E9;
@rascal-complement: #51A8CB;
@rascal-forum-bg: #CCCCCC;
@rascal-dark-blue: #475373;
@rascal-bright-white: #F5F5F5;

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.0em;
    background-color: @rascal-white;
}

p {
    line-height: 1.6em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h1.post-title {
    font-size: 30px;
    color: @rascal-gray;
}

h2 {
    font-size: 24px;
    letter-spacing: 0px;
    text-indent: 0px;
}

h2 a {
    color: @rascal-gray;
}

a, a:hover {
    color: @rascal-red;
}

h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
}

h5 {
    font-size: 12px;
}

.site-head {
    margin-bottom: 0px;
}

.post {
    max-width: 820px;
    background-color: @rascal-bright-white;
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    position: static; /* to prevent weird overlap on page.hbs */
}

.post-footer {
    margin-top: 0px;
    padding-top: 20px;
    border-top: @rascal-gray 1px solid;
}

ul li {
    line-height: 1.6em;
}

ul {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ul.nav li {
    display: inline;
    list-style-type: none;
}

.nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 23px 10px 0 0;
    padding-left: 0px;
}

.brand {
    display: inline;
    float: left;
    padding: 8px 20px 12px;
    margin-left: -20px;
}

.navbar-fill .container {
    width: 80%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-fill {
    width: 100%;
    background: @rascal-gray;
    color: @rascal-white;
    float: left;
}

ul.nav li a {
    padding-top: 23px;
    padding-right: 16px;
    padding-left: 20px;
    padding-bottom: 14px;
    font-size: 20px;
    line-height: 20px;
    color: darken(@rascal-white, 15);
    text-decoration: none;
}

ul.nav li a:hover {
    color: @rascal-white;
}

div.center-column {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 940px;
    background-color: @rascal-bright-white;
}
